/* Основний кольір тексту   #757575 */
/* Вторічний кольір тексту  #212121 */
/* Колір акцент             #2196F3 */
/* Колір тексту лінк-адрес rgba(255, 255, 255, 0.6) */
/* Колір фону     #FFFFFF */
/* Вторічний фон  #F5F4FA */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --addres-link: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --main-background: #FFFFFF;
    --secondary-background: #F5F4FA;
}


/* page-body */
.body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-background);
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

.text {
    text-decoration: none;
}

a {
    text-decoration: none;
}

/* header */
/* logo */
.logo-web {
    color: var(--accent-color);
}

.headerlogo {
    color: #000000;
}
.footerlogo {
    color: var(--main-background);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

/* header site-nav */
.site-nav .navigation {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .navigation:hover, 
.site-nav .navigation:focus {
    color: var(--accent-color);
}

.site-nav .navigation.current {
    color: var(--accent-color);
}


 
/* headcontact-addres */
.headcontact-addres {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.headcontact-addres:hover,
.headcontact-addres:focus {
    color: var(--accent-color);
}

/* section hero */
.hero {

}

.hero-title {
    color: var(--main-background);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;   
    text-align: center;
    letter-spacing: 0.06em;
}

.button-hero,
.navigation-butten {
    cursor: pointer
}

.button-hero {
    background-color: rgba(0, 0, 0, 0.15);
    color: var(--main-background);
    border-radius: 4px;
    border-color: transparent;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em
}

.button-hero:hover, 
.button-hero:focus {
    background-color:var(--accent-color);
    color: var(--main-background);
}

/* sections WebStudio */
.our-team {
    background-color: var(--secondary-background);
}
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.title-text {
    font-size: 14px;
    line-height: 1.18;
}

.img-text {
    font-size: 14px;
    line-height: 1.71;
}

/* Доробіти Уявні заголовки */
.section .subject {
    
}

.footer {
    background-color: #2F303A;
}

.address {
    font-size: 14px;
    line-height: 24px;
}

/* PORTFOLIO */
.navigation-butten {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
}

.navigation-butten:focus,
.navigation-butten:hover {
    background-color: var(--accent-color);
    color: var(--main-background);
    border-color: #FFFFFF;
}

.picture .section-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
letter-spacing: 0.06em;
}

.desc {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
}

/* footercontact-addres */
.footercontact-addres {
    /* повинен бути color: rgba(255, 255, 255, 0.6); */
    color: var(--main-background);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
}

.footercontact-link {
color: var(--addres-link);
}

.footercontact-link:hover,
.footercontact-link:focus,
.footercontact-addres:hover, 
.footercontact-addres:focus
 {
    color: var(--accent-color);
}