/* Основний кольір тексту   #757575 */
/* Вторічний кольір тексту  #212121 */
/* Колір акцент             #2196F3 */
/* Колір тексту лінк-адрес rgba(255, 255, 255, 0.6) */
/* Колір фону     #FFFFFF */
/* Вторічний фон  #F5F4FA */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --addres-link: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --main-background: #FFFFFF;
    --secondary-background: #F5F4FA;
}


/* page-body */
.body {
    background-color: var(--main-background);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

.text {
    text-decoration: none;
}

/* page-header */
/* logo */
.logo {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    
}

.logo-web {
    color: var(--accent-color);
}

.logo-web:hover,
.logo-web:focus,
.logo:hover,
.logo:focus {
    color: chartreuse;
}

/* site-nav */
.site-nav .navigation {
color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


/* tbody */
.site-nav .navigation:hover, 
.site-nav .navigation:focus {
    color: var(--accent-color);
}

.site-nav .navigation.current {
    color: var(--accent-color);
}
 

/* section hero */
.hero-title {
    color: var(--title-text-color);
}

.button-hero {
    background-color: var(--accent-color);
    color: var(--main-background);
    border-radius: 4px;
    border-color: rgba(255, 255, 255, 1);
    font-family: inherit;
}

.button-hero:hover, 
.button-hero:focus {
    background-color: #9e4e4e;
    color: aqua;
}


/* section */
.section-title,
.title {
    color: var(--title-text-color);
}

.section .subject {
    color: rgba(255, 255, 255, 1);
}



.functional .title {
color: var(--title-text-color)
}


/* portfolio */
.navigation {
    background-color: var(--secondary-background);
    color: var(--title-text-color);
    border-radius: 4px;
    border-color: rgba(255, 255, 255, 1);
}

.navigation-butten:focus,
.navigation-butten:hover {
    background-color: var(--accent-color);
    color: var(--main-background);
    border-color: #FFFFFF;
}
.desc {
    color: var(--primary-text-color);
}

.desc-addres {
    color: #212121; 
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


.desc-addres:hover, 
.desc-addres:focus,
.link-addres:hover,
.link-addres:focus {
    color: var(--accent-color);
}

.link-addres {
    /* повинен бути color: rgba(255, 255, 255, 0.6); */
    color: #212121;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}